button.edit {
    position: fixed;
    background-color: var(--main-color);
    width: 3.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



.edit * {
    color: currentColor;
}

.edit-mobile {
    width: 8em;
    height: 3.5em;
    background-color: aqua;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-mobile::after {
    content: "";
    position: relative;
    display: block;
    color: currentColor;
    font-size: 20px;
    font-weight: bold;
}

.salvar {
    background-color: #e0e0e0;
    color: black;
}

.salvar::after {
    content: "Salvar";
}

.cancelar {
    background-color: black;
    color: white;
}

.cancelar::after {
    content: "Cancelar";
}

@media (max-width: 700px) {}

.primary {
    background: var(--gradient-btn);
    border-radius: 100vw;
    border: none;
}

.primary::after {
    content: "Acessar";
}



#save,
#ocultar,
#delete {
    background: transparent;
    border: 2px solid;
    width: 10em;
    padding: 0.5em 1.5em;
    border-radius: 100vw;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

#save {
    border-color: var(--main-color);
}

#save:hover {
    background-color: var(--main-color);
}

#ocultar,
#delete {
    border-color: var(--primary-pink);
    background: transparent;

}

#ocultar:hover,
#delete:hover {
    background-color: var(--primary-pink);
}

#logout {
    background: linear-gradient(90deg, #F76AA5 -55.7%, #ff385d 113.76%);
    border-color: var(--primary-pink);
}

#logout:hover {
    box-shadow: 0px 0px 10px 2px var(--error);
}

#logout::after {
    content: "Logout";
}


@media (max-width: 700px) {
    .primary::before {
        display: none;
    }

    .primary:hover {
        background-color: black;
    }
}