

/* Card de artigos*/
.articles {
  padding: 1.5em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5em;
}

.article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.article section{
  width: 100%;
  box-sizing: border-box;
}

.card-text h2{
  height: 1em;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-article {
  width: 39em;
  height: 17em;
  background: linear-gradient(89.88deg, #5231D4 -0.44%, rgba(139, 130, 146, 0.29) 110.56%);
  border-radius: 16px;
  box-shadow: inset 1px 1px 4px rgba(239, 233, 233, 0.46);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.img-article {
  width: 40%;
  height: 100%;
  background-color: var(--form);
  border-radius: 16px 0px 0px 16px;
}

.card-text {
  padding: 0.5em 2.25em;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  text-align: justify;
  flex-wrap: wrap;
}

.card-text p {
  --max-lines: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  max-height: calc(var(--lh) * var(--max-lines));
  text-overflow: -o-ellipsis-lastline
}

.mobile-nav {
  border: none;
  width: 100%;
  background: linear-gradient(180deg, rgba(40, 41, 47, 0.484) -84.36%, rgba(31, 31, 36, 0.71) 100%);
  box-shadow: inset 0px 2px 4px rgba(239, 233, 233, 0.46);
  backdrop-filter: blur(16px);
  border-radius: 15px 15px 0px 0px;
  box-sizing: border-box;
  display: none;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  padding: 0.8em;
  gap: 0.8em;
}
.mobile-button {
  background-color: var(--main-color);
  position: relative;
  width: 3.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5em;
}

.mobile-button * {
  color: currentColor;
}

.create {
  display: block;
}

.create::after,
.create::before {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  position: relative;
  background-color: white;
  border-radius: 100vw;
}

.create::before {
  top: 2px;
}

.create::after {
  top: -2px;
  transform: rotate(90deg);
}

/* Responsividade*/
@media (max-width: 800px) {
  
  .card-article {
    width: 35em;
  }
}

@media (max-width: 700px) {


  .card-article .img-article {
    width: 40%;
  }

  .card-article .card-text {
    width: 60%;
  }

  .card-article {
    /*  Adicionar clamp depois */
    width: 100%;
  }

  section.search {
    display: none;
  }

}

@media (max-width: 700px) {
  .article{
    width: 100%;
  }
  .card-text p {
    display: none;
  }

  .card-article .img-article {
    width: 60%;
  }

  .card-article .card-text {
    width: 50%;
  }

  .card-article .primary {
    display: block;
  }

}

@media (max-width:400px){
  .mobile-nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 320px) {

  .card-article {
    flex-direction: column;
  }

  .card-article .img-article {
    width: 100%;
  }

  .card-article .card-text {
    width: 100%;
  }
}