 .articles, .geral, .home {
    box-sizing: border-box;
}

.geral{
    overflow-y: scroll;
}
/* Inicio da página*/
.home {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15em 1.5em;

}

.home * {
    width: 50%;
}


.init h1 {
    text-transform: capitalize;
}

.init h1,
.init p {
    width: 75%;
}

.init p {
    color: var(--text-color);
}

.init form {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--input-1);
    border: 2px solid transparent;
    padding: 0.25em .5em;
    border-radius: 100vw;
    border: 2px solid transparent;
    transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

.init form {
    cursor: text;
}

.init form:focus-within {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

.img {
    width: 20em;
}

.img {
    width: 20em;
    height: 22.5em;
    background-image: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia23809.jpg');
    background-size: cover;
}

@media (max-width: 800px) {
    .home{
        padding: 12em 1em 7.5em 1.5em;
    }
    .img {
        display: none;
    }

    .init {
        width: 100%;
    }

    .init form {
        width: 100%;
    }
}