



* {
  font-family: 'Spectral', serif;
  font-size: var(--step-0);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: black;
}

h1 {
  font-size: var(--step-5);
  font-weight: 600;
  font-family: 'Playfair-display', serif;
}


h2 {
  font-family: 'Playfair-display', serif;
  font-size: var(--step-4);
  font-weight: 600;
  text-transform: capitalize;
}

h3 {
  font-family: 'Spectral', serif;
  font-size: var(--step-3);
  font-weight: 500;
  text-align: center;
}

button {
  border: none;
  outline: none;
}







/* Inicio da página*/







/* Card de artigos*/


/* Inputs */

/*Search Bar*/



/* Limpa o botãozinho de cancelar do Explorer*/
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Limpa o botãozinho de cancelar do Chrome*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*Créditos - https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb*/












